<!DOCTYPE html>
<html lang="ko">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-3">
  </div>
  
  <div class="col-6">
 <form action="/iris" method="POST">
      <table class="table table-borderless">
        <tr>
          <hr>
          <h2>분류 - <small>아이리스 Sepel Width는?</small></h2><hr>

        </tr>
        <tr>
          <td>Sepal Length</td>
          <td><input type="text" class="form-control" id="slen" placeholder="Sepal Length" name="slen"></td>
        </tr>
        <tr>
          <td>Petal Length</td>
          <td><input type="text" class="form-control" id="plen" placeholder="Petal Length" name="plen"></td>
        </tr>
        <tr>
          <td>Petal Width</td>
          <td><input type="text" class="form-control" id="pwid" placeholder="Petal Width" name="pwid"></td>
        </tr>
        
        <tr>
          <td>품종</td>
          <td>
              <select class="form-control" id="species" name='species'>
                <option value="0">Setosa</option>
                <option value="1" selected>Versicolor</option>
                <option value="2">Virginica</option>
              </select>
          </td>
        </tr>
        <tr>
          <td>비고</td>
          <td><textarea class="form-control" rows="5" id="comment" name="comment">Placeholder역할</textarea></td>
        </tr>
        <tr>
          <td colspan="2" style="text-align:center;">
          <button type="submit" class="btn btn-primary">실행</button>&nbsp;&nbsp;&nbsp;
          <button type="submit" class="btn btn-primary">취소</button>
          </td>
        </tr>

      </table>
    </form>
    
  </div>
  <div class="col-3"></div>
    </div>
</div>

</body>
</html>
