
            <div class="col-10">
                <h3 style ="margin-top:5px; text-align:center; font-family:'나눔스퀘어라운드'"><strong>김소희</strong> <small>(Kim Sohee)</small></h3>
                <hr>
                <div class="row" style="margin-top:25px;">
                    <div class="col-0.2"></div>
                    <div class="col-7">
                        <p style ="font-family:'나눔스퀘어라운드'; font-size: 25px;"><strong>좋아하는 여행지</strong><small> - in PADANG PADANG BEACH</small></p>
                        <p style ="text-align:right; margin-top:-15px; font-family:'나눔스퀘어라운드;">(19.07.09-19.07.14)</p>
                        <p class="text-primary" style ="margin-top: 30px; font-family:'10X10'">여행지 : <span class="text-dark"> 발리, 인도네시아</span></p>
                        <p class="text-primary" style ="font-family:'10X10'">왕복 시간 : <span class="text-dark"> 약 14시간 넘게 소요</span></p>
                        <p class="text-primary" style ="font-family:'10X10'">관광지 : <span class="text-dark"> 빠당빠당 비치와 기타 등등</span></p>
                        <p class="text-primary" style ="font-family:'10X10'">비용 : <span class="text-dark"> 추후 질문하시면 답변 드립니다.</span></p>                        
                        <p class="text-dark" style ="margin-top: 25px; font-family:'10X10'">휴양지에서 쉬고 싶다 라며 가게 되었지만 막상 가보면 풍경에 반하게 된다.
                             사진을 어떻게 찍어도 멋있는 발리를 여행지로 추천합니다. ₍₍(ง˘ω˘)ว⁾⁾</p>

                      </div class="container">
                      <div class="col-5">
                        <div class="row" style="margin-top:50px;">
                            <div style="margin-left: 25px;">
                                <img src="/static/images/IMG_7517.JPG" class="rounded" alt="beach" width="370"> 
                                <p class="text-secondary" style="margin-top:15px; font-family:'10X10'; font-size: 14px"><small>(아래에는 해변 풍경이다.)</small></p>
                            </div>
                      </div>




                    <div class="col-4"></div>
                </div>                
            </div>
            <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                </ul>
                
                <!-- The slideshow -->
                <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/static/images/IMG_7516.jpg" alt="bird" width="1000">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/images/IMG_7468.jpg" alt="cat" width="1000">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/images/IMG_7515.jpg" alt="dog" width="1000">
                        </div>
                    </div>
                </div>
                
