<div class="row">
    <div class="col-3">
        <!-- 사진 영역 -->
        <img src="/static/images/변준현.jpg" width="200px">
    </div>
    <div class="col-8">
        <br>
        <!-- content -->
        인공지능 및 프로그래밍 언어💻⌨🖱에 급관심이 생기기 시작하여 열심히 배우는중입니다!<br>
        음악 듣기🎧, 영화 감상🎬, 운동🥋, 드라이브🚗, 자전거🚲 타는 것을 좋아하고,<br>
        맛집 탐방하는 것을 좋아하여 타지에 여행 가게 되면 주변 맛집에 들리곤<br>
        합니다.<br><br>
        <h5><i class="fa fa-mobile" aria-hidden="true"></i> Contact Me</h5>
<p style="font-size: 20px;">&nbsp;&nbsp;- E-mail : gsganzi90@naver.com <img 
    src="/static/images/Naver-Mark-32.png"></a></p>
    <p style="font-size: 20px;">&nbsp;&nbsp;- Github : https://github.com/JunHyeonByeon <a href="https://github.com/JunHyeonByeon"><img
            src="/static/images/GitHub-Mark-32px.png"></a></p>
    </div>
    <div class="col-1">
        <!-- etc -->
    </div>
</div>
<br>
<h5><i class="fa fa-indent" aria-hidden="true"></i> 학력 사항</h5>
<table class="table">
    <thead>
        <tr>
            <th>학    교</th>
            <th>전    공</th>
            <th>기    간</th>
            <th>졸업여부</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>경일대학교</td>
            <td>행정학과</td>
            <td>4년제</td>
            <td>졸업</td>
        </tr>  
    </tbody>
</table>
<h5><i class="fa fa-indent" aria-hidden="true"></i> 경력 사항</h5>
<table class="table">
    <thead>
        <tr>
            <th>회사명</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;직  무</th>
            <th>직  급</th>
            <th>기  간</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>(주)원에프티</td>
            <td>무인항공기, 철도 및 전동차 
                <br>유무선 통신 시스템 관련 장비 유지 보수</td>
            <td>연구원</td>
            <td>2017.06 ~ 2020.03</td>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <td><h5><i class="fa fa-camera" aria-hidden="true"></i> My worked images</h5></td>
        </tr>
    </thead>
    <tbody 
        <tr>
            <td>
            <img src="/static/images/원에프티1.jpg" alt="Cinque Terre" width="500" height="400">
            </td>
            <td>
                <img src="/static/images/원에프티2.jpg" alt="Cinque Terre" width="400" height="600">
            </td>
        </tr>
    </tbody>
</table>