<div class="row">
    <div class="col-3">
        <!-- 사진 영역 -->
        <img src="/static/images/오주현_사진.jpg" alt="Cinque Terre" width="100" height="150">
    </div>
    <div class="col-8">
        <br>
        <!-- content -->
        기계공학과를 졸업했습니다.<br>
        여가시간에 영화와 유튜브를 봅니다.<br>
        코딩이라는 것을 배워보고 싶어 지금 인공지능 청년혁신가 과정을 공부하고 있습니다.<br>
        원하는 분야는 스마트 팩토리 분야이며 총관리자가 되는게 목표입니다.<br><br>
        <!-- <button type="button" class="btn btn-success" onclick="location.href='KimSohyunQuiz.html'">Quiz</button> -->
        <!-- Button to Open the Modal -->
       

    </div>
    <div class="col-1">
        <!-- etc -->
    </div>
</div>
<br>
<h3>✉️ Contact Me</h3>
<p style="font-size: 20px;">&nbsp;&nbsp;&nbsp;이메일 : ohju33333@gmail.com
    <br>&nbsp;&nbsp;&nbsp;github : https://github.com/JuhyoenOh <a href="https://github.com/JuhyoenOh"><img
            src="/static/images/GitHub-Mark-32px.png"></a></p>
<br>
<h5><i class="fas fa-school"></i> 이력 사항</h5>
<table class="table">
    <thead>
        <tr>
            <th>회사명</th>
            <th>직무</th>
            <th>기간</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ThinkWinTek</td>
            <td>기구설계</td>
            <td>2016.11 ~ 2017.08</td>
            <td></td>
        </tr>
        <tr>
            <td>Deasung RobotTek</td>
            <td>산업용 로봇 엔지니어</td>
            <td>2018.04 ~ 2020.05</td>
            <td></td>
        </tr>
        <tr>
            <td>
            <img src="/static/images/Robot_1.jpg" alt="Cinque Terre" width="400" height="300">
            </td>
            <td>
                <img src="/static/images/Robot_3.jpg" alt="Cinque Terre" width="400" height="300">
            </td>
        </tr>
        <tr>
            <td>
            <img src="/static/images/Robot_2.jpg" alt="Cinque Terre" width="400" height="300">
            </td>
            <td>
                <img src="/static/images/Robot_4.jpg" alt="Cinque Terre" width="400" height="300">
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;" >
                <video controls poster="images/Robot_1.jpg" width="600" height="500" controls autoplay>
                    <source src="/static/images/Robot-video.mp4" type="video/mp4">
                </video>
            </td>
        </tr>
    </tbody>
</table>
