{% extends "base.html" %}
{% block subtitle %}
    <strong>비전</strong> - <small>팀원 소개</small>
{% endblock %}
{% block content %}
            <div class="col-6" style="padding-top:5%; padding-bottom: 10%;">
                <div class='row'>
                <div class='col-8'><img src="static/images/mj.jpg" alt="Cinque Terre" width="120" height="150"></div>
                <div class='col-4'>
                <table class="table table-borderless" >
                    <tr>
                        <td><h5>이름: 김민지</h5></td>
                    </tr>
                    <tr>
                        <td><h5>학력: 성신여자대학교 IT학부 졸업</h5></td>
                    </tr>
                    <tr>
                        <td><h5>취미: 여행, 영화보기</h5></td>
                    </tr>
                    <tr>
                        <td><h5>특기: 사격</h5></td>
                    </tr>
                    <tr>
                        <td><h5>좋아하는 영화: Serendipity, The Intern</h5></td>
                    </tr>
                    <tr>
                        <td><h5>좋아하는 도시: 뉴욕, 파리</h5></td>
                    </tr>
                    <tr>
                        <td><h6><i class="fa fa-plane"></i> PARIS</h6></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:center;">
                        <img src="static/images/paris4.jpg" alt="Cinque Terre" width="800" height="250">
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <img src="static/images/paris3.jpg" alt="Cinque Terre" width="300" height="400">
                        </td>
                        <td>
                            <img src="static/images/paris1.jpg" alt="Cinque Terre" width="300" height="400">
                        </td>
                    </tr>
                    
                    
                </table>
            </div>
            </div>

              </div>
                    <div class="col-4"></div>
                </div>                
{% endblock %}